

p {
  font-size: 18px;
}
section {
  width: 300px;
  height: 200px;
  background: #ccc;
  color:#777;

}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #777;
  text-align: center;
  background: #ccc;
  width: 75%;
  margin: auto;
  font-size: 18px;
  }
body {
  background-color: #777;
  font-family: "arial", helvetica neue, helvetica, sans-serif;

}
nav {
  padding-top: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background: #ccc;
  width: 75%;
  margin: auto;
  color: #777;
  height: 20px;
  font-size: 18px;
}

aside {
  background: #ccc;
  float: right;
  width: 200px;
  height: 200px;
  padding: 20px;
}
footer {
  margin-bottom: 20px;
  padding: 20px;
  color: #777;
  text-align: center;
  background: #ccc;
  width: 75%;
  margin: auto;
  font-size: 18px;
